<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <style type="text/css">
        .row-header{
            margin:0px auto;
            padding:0px;
        }

        .row-content {
            margin:0px auto;
            padding: 50px 0px 50px 0px;
            border-bottom: 1px ridge;
            min-height:400px;
        }

        .footer{
            background-color: #D1C4E9;
            margin:0px auto;
            padding: 20px 0px 20px 0px;
        }

        .jumbotron {
            padding:70px 30px 70px 30px;
            margin:0px auto;
            background: #9575CD ;
            color:floralwhite;
        }

        address{
            font-size:90%;
            margin:0px;
            color:#0f0f0f;
        }

        .issues{
        	border-style: solid;
        	border-width: 1px 1px 1px 1px;
        	margin-bottom: 20px;
        	box-shadow: 3px 3px #A8A8A8;
            border-left-color: #D1C4E9;
            border-top-color: #D1C4E9;
        }
        .issues_header{
        	background-color: #D1C4E9;
        	padding: 5px;
        }

        a:hover {
            text-decoration: none;
        }

        .center{
            text-align: center;
        }

    </style>
    <title>NewComer Developer's</title>
</head>
<body>
    <header class="jumbotron">
        <div class="container">
        	<h2 class="text-center">Welcome to Sugarlabs Developer Community</h2>
        	<hr>
        	<h4 class="text-center">SugarLabs is pleased to have you on board with our developer community</h4>
        	<hr>
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <p>At Sugar Labs, we make a collection of tools (Sugar) that learners use to explore, discover, create, and reflect.</p>
                    <p> Sugarlabs distribute these tools freely and encourage our users to appropriate them, taking ownership and responsibility for their learning.</p>
                    <p>Sugar is both a desktop and a collection of Activities. Activities, as the name implies, are Apps that involve active engagement from the learner.</p>
                </div>
                <div class="col-12 col-sm">
                	<p>If you're new, and looking to get involved, you're in the right place,here you will find issues according to your choice of category. Check out our README to get started.
                	</p>
                	<p>You can contact the community </p>
                	<p>If you have trouble, check out our IRC to ask for help, or just open an issue and we'll write back!</p>
                </div>
            </div>
        </div>
    </header>




    <div class="container">
        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-4 col-md-3 center">
                <h3>Bugs</h3>
            </div>
            <div class="col col-sm col-md">
                <div class="issues">
                    <div class="issues_header">
                    	<a href="{{bug_h_1}}" target="_blank"><b>{{bug_t_1}}</b></a>
                    </div>
                    <p>This issues was opened at <b>{{bug_o_1}}</b> by <b>{{bug_c_1}}</b></p>
                </div>

                <div class="issues">
                	<div class="issues_header">
                		<a href="{{bug_h_2}}" target="_blank"><b>{{bug_t_2}}</b></a>
                	</div>  
                    <p>This issues was opened at <b>{{bug_o_2}}</b> by <b>{{bug_c_2}}</b></p>
                </div>

                <div class="issues">
                	<div class="issues_header">
                		<a href="{{bug_h_3}}" target="_blank"><b>{{bug_t_3}}</b></a>
                	</div>
                    <p>This issues was opened at <b>{{bug_o_3}}</b> by <b>{{bug_c_3}}</b></p>
                </div>

                <div class="issues">
                	<div class="issues_header">
                		<a href="{{bug_h_4}}" target="_blank"><b>{{bug_t_4}}</b></a>
                	</div>
                    <p>This issues was opened at <b>{{bug_o_4}}</b> by <b>{{bug_c_4}}</b></p>
                </div> 
            </div>
        </div>


        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-4 col-md-3 center">
                <h3>Enhancements</h3>
            </div>
            <div class="col col-sm col-md">
                <div class="issues">
                    <div class="issues_header">
                    	<a href="{{enhancements_h_1}}" target="_blank"><b>{{enhancements_t_1}}</b></a>
                    </div>
                    <p>This issues was opened at <b>{{enhancements_o_1}}</b> by <b>{{enhancements_c_1}}</b></p>
                </div>

                <div class="issues">
                	<div class="issues_header">
                		<a href="{{enhancements_h_2}}" target="_blank"><b>{{enhancements_t_2}}</b></a>
                	</div>  
                    <p>This issues was opened at <b>{{enhancements_o_2}}</b> by <b>{{enhancements_c_2}}</b></p>
                </div>

                <div class="issues">
                	<div class="issues_header">
                		<a href="{{enhancements_h_3}}" target="_blank"><b>{{enhancements_t_3}}</b></a>
                	</div>
                    <p>This issues was opened at <b>{{enhancements_o_3}}</b> by <b>{{enhancements_c_3}}</b></p>
                </div>

                <div class="issues">
                	<div class="issues_header">
                		<a href="{{enhancements_h_4}}" target="_blank"><b>{{enhancements_t_4}}</b></a>
                	</div>
                    <p>This issues was opened at <b>{{enhancements_o_4}}</b> by <b>{{enhancements_c_4}}</b></p>
                </div> 
            </div>
        </div>


        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-4 col-md-3 center">
                <h3>Design</h3>
            </div>
            <div class="col col-sm col-md">
                <div class="issues">
                    <div class="issues_header">
                        <a href="{{design_h_1}}" target="_blank"><b>{{design_t_1}}</b></a>
                    </div>
                    <p>This issues was opened at <b>{{design_o_1}}</b> by <b>{{design_c_1}}</b></p>
                </div>

                <div class="issues">
                    <div class="issues_header">
                        <a href="{{design_h_2}}" target="_blank"><b>{{design_t_2}}</b></a>
                    </div>  
                    <p>This issues was opened at <b>{{design_o_2}}</b> by <b>{{design_c_2}}</b></p>
                </div>

                <div class="issues">
                    <div class="issues_header">
                        <a href="{{design_h_3}}" target="_blank"><b>{{design_t_3}}</b></a>
                    </div>
                    <p>This issues was opened at <b>{{design_o_3}}</b> by <b>{{design_c_3}}</b></p>
                </div>

                <div class="issues">
                    <div class="issues_header">
                        <a href="{{design_h_4}}" target="_blank"><b>{{design_t_4}}</b></a>
                    </div>
                    <p>This issues was opened at <b>{{design_o_4}}</b> by <b>{{design_c_4}}</b></p>
                </div> 
            </div>
        </div>

        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-4 col-md-3 center">
                <h3>Documentation</h3>
            </div>
            <div class="col col-sm col-md">
                <div class="issues">
                    <div class="issues_header">
                        <a href="{{documentation_h_1}}" target="_blank"><b>{{documentation_t_1}}</b></a>
                    </div>
                    <p>This issues was opened at <b>{{documentation_o_1}}</b> by <b>{{documentation_c_1}}</b></p>
                </div>

                <div class="issues">
                    <div class="issues_header">
                        <a href="{{documentation_h_2}}" target="_blank"><b>{{documentation_t_2}}</b></a>
                    </div>  
                    <p>This issues was opened at <b>{{documentation_o_2}}</b> by <b>{{documentation_c_2}}</b></p>
                </div>

                <div class="issues">
                    <div class="issues_header">
                        <a href="{{documentation_h_3}}" target="_blank"><b>{{documentation_t_3}}</b></a>
                    </div>
                    <p>This issues was opened at <b>{{documentation_o_3}}</b> by <b>{{documentation_c_3}}</b></p>
                </div>

                <div class="issues">
                    <div class="issues_header">
                        <a href="{{documentation_h_4}}" target="_blank"><b>{{documentation_t_4}}</b></a>
                    </div>
                    <p>This issues was opened at <b>{{documentation_o_4}}</b> by <b>{{documentation_c_4}}</b></p>
                </div> 
            </div>
        </div>


        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-4 col-md-3 center">
                <h3>Need Testing</h3>
            </div>
            <div class="col col-sm col-md">
                <div class="issues">
                    <div class="issues_header">
                        <a href="{{need_testing_h_1}}" target="_blank"><b>{{need_testing_t_1}}</b></a>
                    </div>
                    <p>This issues was opened at <b>{{need_testing_o_1}}</b> by <b>{{need_testing_c_1}}</b></p>
                </div>

                <div class="issues">
                    <div class="issues_header">
                        <a href="{{need_testing_h_2}}" target="_blank"><b>{{need_testing_t_2}}</b></a>
                    </div>  
                    <p>This issues was opened at <b>{{need_testing_o_2}}</b> by <b>{{need_testing_c_2}}</b></p>
                </div>

                <div class="issues">
                    <div class="issues_header">
                        <a href="{{need_testing_h_3}}" target="_blank"><b>{{need_testing_t_3}}</b></a>
                    </div>
                    <p>This issues was opened at <b>{{need_testing_o_3}}</b> by <b>{{need_testing_c_3}}</b></p>
                </div>

                <div class="issues">
                    <div class="issues_header">
                        <a href="{{need_testing_h_4}}" target="_blank"><b>{{need_testing_t_4}}</b></a>
                    </div>
                    <p>This issues was opened at <b>{{need_testing_o_4}}</b> by <b>{{need_testing_c_4}}</b></p>
                </div> 
            </div>
        </div>
     
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">             
                <div class="col-4 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="./aboutus.html">About</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5">
                    <h5>Our Address</h5>
                    <address>
		              1 Boad<br>
		              CleKowloon<br>
		              H
		              <i class="fa fa-phone fa-lg"></i>: +852 1234 5678<br>
                      <i class="fa fa-fax fa-lg"></i>: +852 8765 4321<br>
                      <i class="fa fa-envelope fa-lg"></i>: 
                      <a href="mailto:confusion@food.net">confusion@food.net</a>
		           </address>
                </div>
                <div class="col-12 col-sm-4 align-self-center"> 
                    <div class="text-center">
                        <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                        <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>
           </div>
           <div class="row justify-content-center">             
                <div class="col-auto">
                    <p>© Copyright {{currentYear}} Sugarlabs</p>
                </div>
           </div>
        </div>
    </footer>



	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>